body{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align :justify;
  
}
.image{
 
 

}

 @media ((max-width:375px) and (min-width:1440px)) {
  .heading{
 margin:0px;
  
}

.attribution{
  padding:0px;
}
html{
  background-color: aqua;
}
.qrcode1{
  border: 12px solid white;
  border-radius: 3%;
}
}